/*主样式为移动端（页面宽度小于7500px）*/
body{margin: 0;}
*{transition: 0.2s;}
.box-father{width: 100%;}
.box-child{width: 96%; height: 100%;}
.flex-hcc{display: flex; justify-content: center; align-items: center;}
.flex-hsc{display: flex; justify-content: space-between; align-items: center;}
.flex-hse{display: flex; justify-content: space-between; align-items: flex-end;}
.flex-hlc{display: flex; align-items: center;}
.flex-ssc{display: flex; flex-direction: column; justify-content: space-between; align-items: center;}
.flex-scc{display: flex; flex-direction: column; justify-content: center; align-items: center;}
.flex-scs{display: flex; flex-direction: column; justify-content: flex-start; align-items: center;}
.flex-slc{display: flex; flex-direction: column; justify-content: center;}
.font-default{font-family: Arial, Helvetica, sans-serif; font-size: 0.75rem; color: #565656;}
.font-system{font-family: Arial, Helvetica, sans-serif; font-size: 0.75rem; color: #ffffff;}
.cpt-fengexian{width: 100%; background: #F5F5F5; height: 9px;}
.cpt-fengexianSmall{width: 100%; background: #F5F5F5; height: 1px;}

.cpt-footer{background: #fafbff; position: fixed; bottom: 0; height: 55px; border-top: 1px solid #e0e1e3;}
.cpt-footerNone{height: 55px;}
.cpt-footer img{height: 25px; margin-bottom: 4px;}
.font-footer{font: 12px 微软雅黑; color: #565656;}
.font-footer-hover{font: 12px 微软雅黑; color: #1B82D1;}
.font-headLine{font-family: Arial, Helvetica, sans-serif; font-size: 1rem; color: #565656;}
.cpt-footer .foot-child{width: 25%; text-decoration: none;}

/*副样式为PC端（页面宽度大于750px）*/
@media only screen and (min-width: 480px){
    body{display: flex; flex-direction: column; align-items: center; background: #dddddd}
    .box-father{width: 480px;}/*固定手机尺寸为480*/
    .cpt-fengexian{width: 480px; height: 12px;}
    .cpt-fengexianSmall{width: 480px;}
}
