.Body2{width: 100%}/*中层主体100%*/
/*头部*/
.HeadBox2{width: 100%} /*头部里层的框架 默认情况下是1440px，当浏览器尺寸小于1440时，宽度变成100%*/
.HeadBody div{width: 80%} /*导航栏菜单的总体宽度*/
.LogoBox1{width: 20%; justify-content: flex-start} /*logo总体宽度*/

/*主体 PC-1*/
.Part1 .BodyChild{flex-direction: column}
.Part1 img{margin-top: 100px}

/*Part-3*/
.Part3 .BodyChild{flex-wrap: wrap; width: 90%; margin-bottom: 150px; margin-top: 150px}
.Part3 .Flex_SC:last-child{margin-top: 100px}

/*Part-5*/
.Part5{margin-top: 100px}

/*安全性页面的css*/
.AnquanBody .BodyChild .Child{width:100%; padding-bottom: 50px; padding-top: 50px}
.AnquanBody{background: #ffffff; padding-top: 50px; padding-bottom: 50px}