#P4_head{
    height: 80px;
}
.P4_head_caidan{
    margin-left:4%;
}
#P4_head_caidan{
    width:100%;
    justify-content: space-between;
}
#P4_buttonCaidan,#P4_part1Mobile,.P4_logoText{
    display: none;
}
#P4_logo1{
    display: inline;
}
.P4_Box{
   flex-direction: column;
}
.P4_BoxChild2{
    width: 717px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.P4_BoxChild2_img{
    width: 100%;
}
.P4_BoxChild1{
    margin-top: 50px;
}
.P4_downButton{
    margin-bottom: 8%;
}
#P4_head_father,.P4_Box,.P4_Four{
    width: 90%;
}

.P4_3{
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.P4_FootChilad1{
    flex-direction: column;
    align-items: center;
}
.P4_FootChilad1 div:last-child div:first-child{
    margin: 0;
}
.P4_Four,.P4_4Chilad{
    width: 100%;
}
P4_4Chilad span,P4_4Chilad image{
    width: 85%;
}