#P4_head{
    height: 80px;
}
.P4_head_caidan{
    margin-left:4%;
}
#P4_head_caidan{
    width:100%;
    justify-content: space-between;
}
#P4_logo2,#P4_buttonCaidan,#P4_part1Mobile{
    display: none;
}
#P4_logo1{
    display: inline;
}
.P4_Box{
   flex-direction: column;
}
.P4_BoxChild2_img{
    widows: 100%;;
}
.P4_BoxChild2{
    widows: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.P4_BoxChild1{
    margin-top: 50px;
}
.P4_downButton{
    margin-bottom: 8%;
}
#P4_head_father,.P4_Box{
    width: 90%;
}