#P4_buttonCaidan{
    display: inline;
}
#P4_head_caidan,#P4_part1Difault,.P4_logoBox1{
    display: none;
}
#P4_head{
    height: 40px;
}
#P4_head_father,.P4_Box{
    width: 90%;
}
#P4_part1Mobile{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    background-color: #ffffff;
}
.P4_H1,P4_h3{
    font: 36px 微软雅黑;
}
.P4_logoBox1{
    height: 20px;
}
.P4_logoText{
    font: 18px 微软雅黑;
    color: #666666;
    font-weight: bold;
    margin-left: 8px;
}

.P4_3{
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.P4_3Chilad{
    width: 85%;
}

.P4_FootText{
    margin-left: 100px;
}
.P4_FootChilad2 .P4_H9:last-child{
    margin-left: 50px;
}

.P4_FootChilad1{
    flex-direction: column;
    align-items: center;
}
.P4_FootChilad1 div:last-child div:first-child{
    margin: 0;
}
.P4_Four,.P4_4Chilad{
    width: 100%;
}
P4_4Chilad span,P4_4Chilad image{
    width: 85%;
}