/*主样式为移动端（页面宽度小于7500px）*/
body{margin: 0;}
*{transition: 0.2s;}
.box-father{width: 100%;}
.box-child{width: 96%; height: 100%;}
.flex-hcc{display: flex; justify-content: center; align-items: center;}
.flex-hsc{display: flex; justify-content: space-between; align-items: center;}
.flex-hse{display: flex; justify-content: space-between; align-items: flex-end;}
.flex-hlc{display: flex; align-items: center;}
.flex-ssc{display: flex; flex-direction: column; justify-content: space-between; align-items: center;}
.flex-scc{display: flex; flex-direction: column; justify-content: center; align-items: center;}
.flex-slc{display: flex; flex-direction: column; justify-content: center;}
.font-default{font-family: Arial, Helvetica, sans-serif; font-size: 0.75rem; color: #dddddd;}
.font-news-headLine{font-family: Arial, Helvetica, sans-serif; font-size: 1rem; color: #dddddd; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; margin-right: 10px;}
.font-news-text{font-family: Arial, Helvetica, sans-serif; font-size: 0.75rem; color: #9e9e9e;}
.font-headLine{font-family: Arial, Helvetica, sans-serif; font-size: 1rem; color: #E5B77C;}
.font-sousuo{font-family: Arial, Helvetica, sans-serif; font-size: 0.75rem; color: #898989;}
.cpt-fengexian{width: 100%; background: #1B1C28; height: 12px;}
.cpt-fengexianSmall{width: 100%; background: #1B1C28; height: 1px;}
.have-news{background: #E23737; width: 8px; height: 8px; position: relative; z-index: 99; top: 0; float: right; right: 0; border-radius: 4px;}

/*系统头部的高度*/
.system-head{height: 20px; position: fixed; top: 0; background: #1B1C28;}
.system-head .system-icon{height: 10px;}

/*头部的样式*/
.cpt-head{height: 48px; position: fixed; top: 20px; background: #1B1C28;}
.cpt-head img{height: 26px;}
.cpt-head .head-sousuo{width: 50%; height: 26px; border-radius: 15px; background: #dddddd;}
.cpt-head .head-sousuo img{width: 14px; height: 14px; margin-left: 12px; margin-right: 12px;}
/*------------------------------------------------------------------------------------------------------------------------------------*/
.cpt-head .head-icon1{width: 26px; height: 26px; background: url(../images/head-kefu.svg) center center no-repeat; background-color: #dddddd; background-size: 18px auto; border-radius: 100%;}
.cpt-head .head-icon1:active{background-color: #F9DB8F;}
/*------------------------------------------------------------------------------------------------------------------------------------*/
.cpt-head .head-icon2{width: 26px; height: 26px; background: url(../images/head-xiaoxi.svg) center center no-repeat; background-color: #dddddd; background-size: 16px auto; border-radius: 100%;}
.cpt-head .head-icon2:active{background-color: #F9DB8F;}
/*------------------------------------------------------------------------------------------------------------------------------------*/
.cpt-head .head-icon3{width: 26px; height: 26px; background: url(../images/head-huodong.svg) center center no-repeat; background-color: #dddddd; background-size: 16px auto; border-radius: 100%;}
.cpt-head .head-icon3:active{background-color: #F9DB8F;}
/*------------------------------------------------------------------------------------------------------------------------------------*/
.cpt-head .button-head{width: 114px;}

.cpt-banner{width: 100%; display: block; margin-top: 68px;}

.cpt-gonggao{height: 30px; background: #252A33;}
.cpt-gonggao img{height: 12px;}
.cpt-gonggao span{margin-left: 12px;}
.cpt-gonggao .font-gonggao{overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:1;}

.cpt-caizhong{padding-top: 30px; padding-bottom: 40px; background: #252A33;}
.cpt-caizhong .box-child{height: 80px; margin-top: 40px;}
.cpt-caizhong .box-child:first-child{margin-top: 0;}
.cpt-caizhong .caizhongBox{width: 72px; height: 78px; padding-top: 8px; padding-bottom: 10px;}
.cpt-caizhong .caizhongBox:active{background: #1C2228;}
.cpt-caizhong .caizhongBox:active span{color: #E5B77C;}
.cpt-caizhong img{height: 55px;}

.cpt-footer{height: 60px; position: fixed; bottom: 0; background: #1B1C28;}

.cpt-news{padding-top: 20px; padding-bottom: 20px; background: #252A33;}
/*------------------------------------------------------------------------------------------------------------------------------------*/
.cpt-news .advice-news1{width: 47%; margin-top: 20px;}
.cpt-news .news1-childLeft{width: 100%; height: 40px; border-radius: 4px; background: #AD6B0B; border-bottom-right-radius: 0;}
.cpt-news .news1-childRight{width: 0; height: 0; border-right: 6px solid transparent; border-bottom: 4px solid #AD6B0B;}
.cpt-news .advice-news1:active .news1-childLeft{background: #9B540E;}
.cpt-news .advice-news1:active .news1-childRight{border-bottom: 4px solid #9B540E;}
/*------------------------------------------------------------------------------------------------------------------------------------*/
.cpt-news .advice-news2{width: 47%; margin-top: 20px;}
.cpt-news .news2-childLeft{width: 100%; height: 40px; border-radius: 4px; background: #AF2F0C; border-bottom-right-radius: 0;}
.cpt-news .news2-childRight{width: 0; height: 0; border-right: 6px solid transparent; border-bottom: 4px solid #AF2F0C;}
.cpt-news .advice-news2:active .news2-childLeft{background: #A3140D;}
.cpt-news .advice-news2:active .news2-childRight{border-bottom: 4px solid #A3140D;}
/*------------------------------------------------------------------------------------------------------------------------------------*/
.cpt-news .advice-news3{width: 47%; margin-top: 20px;}
.cpt-news .news3-childLeft{width: 100%; height: 40px; border-radius: 4px; background: #287F0B; border-bottom-right-radius: 0;}
.cpt-news .news3-childRight{width: 0; height: 0; border-right: 6px solid transparent; border-bottom: 4px solid #287F0B;}
.cpt-news .advice-news3:active .news3-childLeft{background: #306D09;}
.cpt-news .advice-news3:active .news3-childRight{border-bottom: 4px solid #306D09;}
/*------------------------------------------------------------------------------------------------------------------------------------*/
.cpt-news .advice-news4{width: 47%; margin-top: 20px;}
.cpt-news .news4-childLeft{width: 100%; height: 40px; border-radius: 4px; background: #126A96; border-bottom-right-radius: 0;}
.cpt-news .news4-childRight{width: 0; height: 0; border-right: 6px solid transparent; border-bottom: 4px solid #126A96;}
.cpt-news .advice-news4:active .news4-childLeft{background: #0D5C7C;}
.cpt-news .advice-news4:active .news4-childRight{border-bottom: 4px solid #0D5C7C;}
/*------------------------------------------------------------------------------------------------------------------------------------*/
.cpt-newsList{height: 104px; background: #252A33;}
.cpt-newsList:active{background: #29303A;}
.cpt-newsList:active .font-news-headLine{color: #E5B77C;}
.cpt-newsList .font-news-text{margin-top: 10px;}
.cpt-newsList .news-img{min-width: 110px; height: 80px;}
.cpt-newsList .news-img1{background: url(../images/news-img1.png); background-size: 100% 100%;}
.cpt-newsList .news-img2{background: url(../images/news-img2.png); background-size: 100% 100%;}

.cpt-footerNone{height: 59px;}

/*副样式为PC端（页面宽度大于750px）*/
@media only screen and (min-width: 480px){
    body{display: flex; flex-direction: column; align-items: center;}
    .box-father{width: 480px;}/*固定手机尺寸为480*/
    .cpt-banner{width: 480px;}
    .cpt-fengexian{width: 480px; height: 12px;}
    .cpt-fengexianSmall{width: 480px;}
}